[submodule "kernel/lib/uacpi"]
	path = lib/uacpi
	url = https://github.com/ultraos/uacpi
[submodule "lib/limine"]
	path = lib/limine
	url = https://robotman2412@github.com/robotman2412/limine-boot-rust
